#databinding {
    padding: 20px 15px 15px 15px;
    margin: 0 0 25px 0;
    width: auto;
 }

 span,
 option,
 input {
    font-size: 20px;
 }

 .Table {
    display: table;
    width: 80%;
 }

 .Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
 }

 .Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
 }

 .Row {
    display: table-row;
 }

 .Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
 }